@import 'reset.scss';
@import 'colors.scss';

html, body {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: flex !important;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	align-content: center;
}

.navigation {
	display: flex;
	align-content: center;
	align-items: center;
	background: whitesmoke;
	width: 100vw;
	overflow-x: auto;

	.navigation-link {
		white-space: nowrap;
		padding: 16px 12px;
		cursor: pointer;
		text-transform: uppercase;
		color: #1f1f1f;
		transition: background 0.2s, color 0.2s;
		&:hover {
			background: #e5e5e5;
			color: orange;
		}
	}
}

#container {
	flex-grow: 1;
	display: flex;
	align-items: center;
	overflow: hidden;
}
